pywin32 # Useful for Windows only, comment this out if you on *nix
tkinter # Used for filedropper
vapoursynth==R54
pyyaml # YAML config

yaspin # Spinner while video gets indexed

PyTaskbarProgress # Progress bar for conhost

